<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DESKTOP-5HGTV4A_QuanLyKhachSan_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-5HGTV4A;user id=;password=;initial catalog=QuanLyKhachSan;Persist Security Info=true" />
        <add name="DESKTOP-5HGTV4A_QuanLyKhachSan_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-5HGTV4A;user id=sa;password=12112014;initial catalog=QuanLyKhachSan;Persist Security Info=true" />
    </connectionStrings>
</configuration>